@media (max-width: 1000px) {
    .list-group {
        max-height: 60vh;
    }
}

@media (min-width: 1000px) {
    .list-group {
        max-height: 93vh;
    }
}

.list-group {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 20px !important;
}

.title {
    font-size: 2.25em;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('//libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('//libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('//libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('//libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('//libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

iframe {
    height: 1rem;
    width: 1rem;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 2px;
}
